.indexTitle {
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  font-family: fantasy;
}
.index {
  display: flex;
}
.menudestra {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}
.menusinistra {
  display: flex;
  flex-direction: column;
  padding-left: 850px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 27px;
}
body {
  height: 100vh;
  background-color: darkblue;
}
a {
  text-decoration: none;
  font-family: fantasy;
}
.indexParagraph {
  font-size: 18px;
  background-color: #ff6666;
  color: #3333cc;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ff3333;
  border-radius: 5px;
  font-family: fantasy;
  text-align: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}
.navbar {
  font-size: 18px;
  background-color: #ff6666;
  color: #3333cc;
  padding: 10px;
  border: 2px solid #ff3333;
  border-radius: 5px;
  font-family: fantasy;
  text-align: center;
  margin-top: 27px;
}

.css_sheetTitle {
  font-size: 30px;
  font-family: fantasy;
  color: aqua;
  padding: 10px 20px;
}
